@import "tailwindcss";

[data-theme="blueberry-milk"] {
  --bg-lighter: #E2E6FF;
  --bg-darker: #C2CBFF;
  --text-lighter: #2F376B;
  --text-darker: #20254A;
}

[data-theme="blueberry-milk-dark"] {
  --bg-lighter: #20254A;
  --bg-darker: #161A35;
  --text-lighter: #E2E6FF;
  --text-darker: #C2CBFF;
}

[data-theme="strawberry-cream"] {
  --bg-lighter: #FFE4EC;
  --bg-darker: #FFCAD8;
  --text-lighter: #7A2A3A;
  --text-darker: #511C27;
}

[data-theme="strawberry-cream-dark"] {
  --bg-lighter: #511C27;
  --bg-darker: #3A141C;
  --text-lighter: #FFE4EC;
  --text-darker: #FFCAD8;
}

[data-theme="matcha-latte"] {
  --bg-lighter: #E7F5D9;
  --bg-darker: #CCE9B1;
  --text-lighter: #3E5A2B;
  --text-darker: #273A1C;
}

[data-theme="matcha-latte-dark"] {
  --bg-lighter: #273A1C;
  --bg-darker: #1A2612;
  --text-lighter: #E7F5D9;
  --text-darker: #CCE9B1;
}

[data-theme="caramel-macchiato"] {
  --bg-lighter: #F8E9D1;
  --bg-darker: #EAC89D;
  --text-lighter: #6C4A2F;
  --text-darker: #4A321F;
}

[data-theme="caramel-macchiato-dark"] {
  --bg-lighter: #4A321F;
  --bg-darker: #332417;
  --text-lighter: #F8E9D1;
  --text-darker: #EAC89D;
}

[data-theme="mint-soda"] {
  --bg-lighter: #DAFAF2;
  --bg-darker: #B4F3E5;
  --text-lighter: #2D5A55;
  --text-darker: #1D3C39;
}

[data-theme="mint-soda-dark"] {
  --bg-lighter: #1D3C39;
  --bg-darker: #132826;
  --text-lighter: #DAFAF2;
  --text-darker: #B4F3E5;
}

[data-theme="ocean-frost"] {
  --bg-lighter: #E0F3FF;
  --bg-darker: #BEE6FF;
  --text-lighter: #1E4D66;
  --text-darker: #123243;
}

[data-theme="ocean-frost-dark"] {
  --bg-lighter: #123243;
  --bg-darker: #0C222E;
  --text-lighter: #E0F3FF;
  --text-darker: #BEE6FF;
}

[data-theme="mocha-dust"] {
  --bg-lighter: #EEE5DD;
  --bg-darker: #D7C6B7;
  --text-lighter: #4E3E32;
  --text-darker: #332A22;
}

[data-theme="mocha-dust-dark"] {
  --bg-lighter: #332A22;
  --bg-darker: #221D17;
  --text-lighter: #EEE5DD;
  --text-darker: #D7C6B7;
}

[data-theme="london-fog"] {
  --bg-lighter: #E9E6F2;
  --bg-darker: #D4CFDF;
  --text-lighter: #47445A;
  --text-darker: #2F2C3D;
}

[data-theme="london-fog-dark"] {
  --bg-lighter: #2F2C3D;
  --bg-darker: #22202C;
  --text-lighter: #E9E6F2;
  --text-darker: #D4CFDF;
}

[data-theme="thai-tea"] {
  --bg-lighter: #FFE2C2;
  --bg-darker: #FFB46E;
  --text-lighter: #7F3F00;
  --text-darker: #572A00;
}

[data-theme="thai-tea-dark"] {
  --bg-lighter: #572A00;
  --bg-darker: #3B1C00;
  --text-lighter: #FFE2C2;
  --text-darker: #FFB46E;
}

[data-theme="ube-latte"] {
  --bg-lighter: #F4E6FB;
  --bg-darker: #E3C4F7;
  --text-lighter: #5A3373;
  --text-darker: #3C224C;
}

[data-theme="ube-latte-dark"] {
  --bg-lighter: #3C224C;
  --bg-darker: #291735;
  --text-lighter: #F4E6FB;
  --text-darker: #E3C4F7;
}

[data-theme="barley-black"] {
  --bg-lighter: #E6E3DF;
  --bg-darker: #C8C2BB;
  --text-lighter: #3E332C;
  --text-darker: #2A221D;
}

[data-theme="barley-black-dark"] {
  --bg-lighter: #2A221D;
  --bg-darker: #1C1613;
  --text-lighter: #E6E3DF;
  --text-darker: #C8C2BB;
}
